.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
  position: fixed;
  z-index: 4;
  background-color: rgba(61, 61, 131, 0.63);
  width: 260px;
  border-bottom: 1px solid white;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
}

.itens-menu {
  color: #FFF;
  cursor: pointer;
}

.itens-menu:hover {
  background-color: rgba(255, 255, 255, 0.253);
}
