<div class="logo">
  <img src="./assets/img/angular.png" height="50">
</div>

<div class="sidebar" style="background-color: rgba(61, 61, 131);">
  <mat-list style="margin-top: 60px;">
    <mat-list-item class="itens-menu" routerLinkActive="active" routerLink="/inicio">
      <mat-icon mat-list-icon>home</mat-icon>
      <div mat-line>
        Início
      </div>
    </mat-list-item>
    <mat-list-item class="itens-menu" routerLinkActive="active" routerLink="/operacoes-binario">
      <mat-icon mat-list-icon>calculate</mat-icon>
      <div mat-line>
        Operações em Binário
      </div>
    </mat-list-item>
    <mat-list-item class="itens-menu" routerLinkActive="active" routerLink="/conjunto-elementos">
      <mat-icon mat-list-icon>assignment</mat-icon>
      <div mat-line title="Conjunto e seus elementos únicos">
        Conjunto e seus elementos únicos
      </div>
    </mat-list-item>
    <mat-list-item class="itens-menu" routerLinkActive="active" routerLink="/modulo1">
      <mat-icon mat-list-icon>group</mat-icon>
      <div mat-line>
        Módulo 1
      </div>
    </mat-list-item>
    <mat-list-item class="itens-menu" routerLinkActive="active" routerLink="/modulo2">
      <mat-icon mat-list-icon>leaderboard</mat-icon>
      <div mat-line>
        Módulo 2
      </div>
    </mat-list-item>
    <mat-list-item class="itens-menu" routerLinkActive="active" routerLink="/modulo3">
      <mat-icon mat-list-icon>settings_applications</mat-icon>
      <div mat-line>
        Módulo 3
      </div>
    </mat-list-item>
  </mat-list>
</div>
